<div class="modal fade" id="addItem" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Data</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" ng-model="newTitle" placeholder="Title">
                <input type="text" class="form-control" ng-model="newAuthor" placeholder="Author">
                <input type="text" class="form-control" ng-model="newComment" placeholder="Comment">
                <input type="text" class="form-control" ng-model="newLike" placeholder="Like">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addItem()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>