<div id="loginContainer" ng-controller="login">
    <form class="form-horizontal" name="myForm" ng-submit="submitForm()" >
       <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <h2>Login</h2>
                <h5 ng-show ="error" class="alert alert-danger">{{error}}</h5>
                <input type="text" class="form-control" ng-model="username" ng-change="typed()" ng-required="true" placeholder="User Name">
                <input type="password" class="form-control" ng-model="password" ng-change="typed()" ng-required="true" placeholder="Password">
                <button type="submit" class="btn btn-success btn-lg btn-block" value="login" ng-disabled="!myForm.$valid">Login </button>
            </div>
        </div>
    </form>
</div>
<link rel="stylesheet" href="../assets/styles/login.css">